<h1>Héroes <small>Marvel y DC</small></h1>
<hr>

<div class="card-columns">

    <div class="card" *ngFor="let heroe of heroes">
        <img src="assets\img\aquaman.png" class="card-img-top img-img-fluid" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn-outline-primary btn-block" name="button">
              Ver mas ...
            </button>
        </div>
    </div>

</div>